<div class="row">
  <div class="col-md-12 comments">
	<% comments.each do |comment| %>
    <div class="comment">
  		<p class="comment-content"> <%= comment.content %> </p>
      <span class="comment-details"> Comment by: <%= comment.user.email %> </span>
  		<span class="comment-details"> Created: <%= time_ago_in_words(comment.created_at) %> ago </span>
          <%= link_to "Delete comment", link_comment_path(comment,comment), method: :delete %>
    </div>
	<% end %>
	</div>
</div>