<div class="row">
  <div class="col-md-12">
    <h3><%= link_to_unless_current link.title, link.destination %></h3>
    <%= link_to_unless_current "#{link.comments.count} comments", link_id_path(link) %>
    <%= link_to "Delete post", link_id_path(link), method: :delete %>
  </div>
</div>
